<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028248942686-4rk0s3pqmfqk68jkee7t5msg4vgpqbf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028248942686-4rk0s3pqmfqk68jkee7t5msg4vgpqbf8</string>
	<key>API_KEY</key>
	<string>AIzaSyDxqQsA5iovyHt8oklSqdEnHIooGD322fM</string>
	<key>GCM_SENDER_ID</key>
	<string>1028248942686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shotaiwata.FirebaseLoginSample</string>
	<key>PROJECT_ID</key>
	<string>fir-loginsa-8d05e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-loginsa-8d05e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028248942686:ios:0beeb16b1ee07fd1d71ccf</string>
</dict>
</plist>